* {
	margin: 0px;
	padding: 0px;
	font-family: "Amazon Ember", Arial, sans-serif;
}

a {
	color: #007185;
	text-decoration: none;
	font-size: 14px;
}

a:hover {
	color: #C7511F;
	text-decoration: underline;
}


body {
	background-color: #ffffff;
}


.upperNav {
	gap: 2px;
	background-color: #131921;
	color: #fff;
	padding: 0px 12px;
}

.logo {
	padding: 7px 5px 6px 5px;
	border: 1px solid transparent;
	cursor: pointer;
}

.logo span {
	font-size: 40px;
}

.logo:hover {
	border-color: white;
}

.location {
	border: 1px solid transparent;
	padding: 12px 10px 10px 11px;
	margin-right: 5px;
	cursor: pointer;
}

.location:hover {
	border-color: white;
}

.location span {
	font-size: 18px;
}

.deliver {
	font-size: 11px;
	color: #cccccc;
}

.deliverPoint {
	font-size: 13px;
	font-weight: 700;
}

.searchBox {
	margin-right: 15px;
	background-color: #ffffff;
	border-radius: 8px;
}

.all {

	padding: 10px;
	padding-right: 0px;
	background-color: #e6e6e6;
	color: #555;
	font-size: 14px;
	border-radius: 8px 0px 0px 8px;
	cursor: pointer;
}

.all:hover {
	color: #000;
}

.search {
	font-size: 15px;
	color: #0f1111;

}

.searchText {
	outline: none;
	border: none;
	font-size: 15px;
	margin-left: 10px;
}

.searchIcon {
	background-color: #febd69;

	padding: 10px;
	border-radius: 0px 8px 8px 0px;
	color: initial;
	cursor: pointer;
}

.searchIcon:hover {
	background-color: #ff9a00;
}

.region {
	border: 1px solid transparent;
	padding: 13px 5px;
	cursor: pointer;
}

.region:hover {
	border-color: white;
}

.region img {
	width: 21.5px;
}

.region span {
	margin-top: 5px;
	color: #a7acb2;
	font-size: 18px;
}

.lang {
	font-size: 14px;
	font-weight: 700;
	line-height: 0;
	margin-left: 5px;
}

.user {
	border: 1px solid transparent;
	padding: 7px 5px;
	cursor: pointer;
}

.user:hover {
	border-color: white;
}

.acctList span {
	color: #a7acb2;
	font-size: 18px;
}

.acct {
	font-size: 11px;
}

.list {
	font-size: 13px;
	font-weight: 700;
}

.returnsOrder {
	border: 1px solid transparent;
	padding: 10px 5px;
	cursor: pointer;
}

.returnsOrder:hover {
	border-color: white;
}

.returns {
	font-size: 11px;
}

.orders {
	font-size: 14px;
	font-weight: 700;
}

.cart {
	border: 1px solid transparent;
	padding: 9px 5px;
	cursor: pointer;
}

.cart a {
	text-decoration: none;
	color: #ffffff;
}

.cart p {
	margin-bottom: 5px;
}

.cart:hover {
	border-color: white;
}

.cart span {
	font-size: 30px;
}


.lowerNav {
	background-color: #232f3e;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 2px;
}


.menuAll {
	gap: 5px;
	padding: 5px;
	border: 1px solid transparent;
	cursor: pointer;
}

.menuAll span {
	font-size: 24px;
}

.menuAll p {
	font-size: 14px;
	font-weight: 700;
}

.menuAll:hover {
	border-color: white;
}

.allHeadings {
	padding: 9px;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 14px;
}

.allHeadings:hover {
	border-color: white;
}

.primeHeading {
	padding: 6px 9px;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 14px;
}

.primeHeading span {
	color: #a7acb2;
	font-size: 18px;
}

.primeHeading:hover {
	border-color: white;
}

.newLauches {
	padding: 0px 9px;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 14px;
}

.newLauches img {
	width: 284px;
	height: auto;
}

.newLauches:hover {
	border-color: white;
}

.backToTop {
	padding: 15px 0px;
	background-color: #37475a;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
}

.backToTop:hover {
	background-color: #495d74;
}

.leftBody {
	border-right: 1px solid #bbbfbf;
	height: 328px;
}

.category p {
	font-size: 13px;
	color: #0f1111;
}

.category span {
	font-size: 14px;
	align-items: center;
	position: relative;
	bottom: 3px;
}


.imgSec {
	gap: 5px;
}

.oneOf {
	border: 1px solid #bbbfbf;
	border-radius: 8px;
}

.oneOf span {
	color: #c45500;
}

.oneOf p {
	font-size: 14px;
	color: #0f1111;
}

.eachProducts {
	font-size: 16px;
	color: #0f1111;
	gap: 5px;
}

.ratingP {
	gap: 3px;
}

.ratingP img {
	width: 20px;
}

.ratingP span {
	font-size: 10px;
}

.liteText {
	font-size: 14px;
	color: #565959;
}

.ruAmt {
	font-size: 28px;
	color: #0f1111;
}

.rupeee {
	position: relative;
	bottom: 10px;
	font-size: 13px;
	color: #0f1111;
}

.lThrough {
	font-size: 13px;
	color: #565959;
	text-decoration: line-through;
}

.offf {
	font-size: 14px;
	color: #0f1111;
}

.getIt {
	font-size: 14px;
	color: #0f1111;
}


.footer {
	padding: 50px 0px;
	flex-warp: wrap;
	color: #cccccc;
	background-color: #232f3e;
	border-bottom: 1px solid #D5D9D9;
}

.headingFooter {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 15px;
}


.aboutFooter {
	color: #dddddd;
	margin-bottom: 10px;
	font-size: 14px;
	cursor: pointer;
}

.aboutFooter:hover {
	text-decoration: underline;
}

.bottomFooter {
	background-color: #232f3e;
	padding: 40px;
	gap: 20px;
}

.bottomUpFooter img {
	cursor: pointer;
	margin-top: 10px;
}

.bottomFooter p {
	color: #ffffff;
	font-size: 15px;
}

.bottomUpFooter {
	gap: 80px;
	padding: 20px;
	width: 100%;
}

.langSelect {
	gap: 5px;
	background: transperant;
	border: 1px solid #D5D9D9;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.langSelect p {
	font-size: 13px;
	margin-bottom: 0px;
}

.langSelect span {
	font-size: 15px;
	color: #cccccc;
}

.footerContents {
	width: 250px;
}


.arrows span {
	font-size: 15px;
	line-height: 5px;
	color: #cccccc;
}

.rotateUp {
	transform: rotate(180deg);
}

.bottomDownFooter {
	font-size: 12px;
	color: #dddddd;
	gap: 10px;
}

.bottomDownFooter p:hover {
	text-decoration: underline;
}

.bottomDownFooterContents {
	gap: 10px;
}

.bottomDownFooterContents p {
	cursor: pointer;
}