*{
	margin:0px;
	padding:0px;
	font-family: "Amazon Ember", Arial, sans-serif;
}
img{
	cursor:pointer;
}
body{
	background-color:#eaeded;
}

.navbar{
	display:flex;
	flex-direction:column;
	
}
.upperNav{
	position:fixed;
	z-index:1000;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	gap:2px;
	background-color:#131921;
	color:#fff;
	padding:0px 12px;
	height:60px !important;
}
.logo{
	width:128px;
	display:flex;
	align-items:center;
	padding:7px 5px 6px 5px;
	border: 1px solid transparent;	
	cursor:pointer;
}

.logo:hover{
	border-color: white;
}

.location{
	display:flex;
	align-items:flex-end;
	border: 1px solid transparent;
	padding:12px 10px 10px 11px;
	margin-right:5px;
	cursor:pointer;
}
.location:hover{
	border-color: white;
}
.location span{
	font-size:18px;
}

.deliverLocation{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

.deliver{
	font-size:11px;
	color:#cccccc;
}
.deliverPoint{
	font-size:13px;
	font-weight:700;
}
.searchBox{
	display:flex;
	align-items:center;
	margin-right:15px;
	background-color:#ffffff;
	border-radius:8px;
}

.all{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:10px;
	padding-right:0px;
	background-color:#e6e6e6;
	color:#555;
	font-size:14px;
	border-radius:8px 0px 0px 8px;
	cursor:pointer;
}
.all:hover{
	color:#000;
}
.searchTextIcon{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.search{
	font-size:15px;
	color:#0f1111;
	width:508.05px;
	
}
.searchText{
	outline:none;
	border:none;
	font-size:15px;
	margin-left:10px;
}
.searchIcon{
	background-color:#febd69;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:10px;	
	border-radius:0px 8px 8px 0px;
	color:initial;
	cursor:pointer;
}
.searchIcon:hover{
	background-color:#ff9a00;
}
.region{
	display:flex;
	align-items:center;
	border: 1px solid transparent;
	padding:13px 5px;
	cursor:pointer;
}
.region:hover{
	border-color: white;
}
.region img{
	width:21.5px;
}
.region span{
	margin-top:5px;
	color:#a7acb2;
	font-size:18px;
}
.lang{
	font-size:14px;
	font-weight:700;
	line-height:0;
	margin-left:5px;
}
.user{
	display:flex;
	flex-direction:column;
	justify-content:center;
	border: 1px solid transparent;
	padding:7px 5px;
	cursor:pointer;
}
.user:hover{
	border-color: white;
}
.acctList{
	display:flex;
	align-items:center;
}
.acctList span{
	color:#a7acb2;
	font-size:18px;
}
.acct{
	font-size:11px;
}

.list{
	font-size:13px;
	font-weight:700;
}
.returnsOrder{
	display:flex;
	flex-direction:column;
	border: 1px solid transparent;
	padding:10px 5px;
	cursor:pointer;
}
.returnsOrder:hover{
	border-color: white;
}
.returns{
	font-size:11px;
}
.orders{
	font-size:14px;
	font-weight:700;
}
.cart{
	display:flex;
	align-items:flex-end;
	border: 1px solid transparent;
	padding:9px 5px;
	cursor:pointer;
}
.cart a{
	text-decoration:none;
	color:#ffffff;
}
.cart p{
	margin-bottom:5px;
}
.cart:hover{
	border-color: white;
}
.cart span{
	font-size:30px;
}


.lowerNav{
	display:flex;
	align-items:center;
	justify-content:space-between;
	background-color:#232f3e;
	color:#ffffff;
	padding-left:10px;
	padding-right:2px;
	margin-top:60px !important;
}
.lowerNavHead{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.menuAll{
	display:flex;
	align-items:center;
	gap:5px;
	padding:5px;
	border: 1px solid transparent;
	cursor:pointer;
}
.menuAll span{
	font-size:24px;
}
.menuAll p{
	font-size:14px;
	font-weight:700;
}
.menuAll:hover{
	border-color: white;
}

.allHeadings{
	display:flex;
	align-items:center;
	padding:9px;
	border: 1px solid transparent;
	cursor:pointer;
	font-size:14px;
}
.allHeadings:hover{
	border-color: white;
}
.primeHeading{
	display:flex;
	align-items:center;
	padding:6px 9px;
	border: 1px solid transparent;
	cursor:pointer;
	font-size:14px;
}
.primeHeading span{
	color:#a7acb2;
	font-size:18px;
}
.primeHeading:hover{
	border-color: white;
}
.prime{
	display:flex;
	align-items:center;
}
.newLauches{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0px 9px;
	border: 1px solid transparent;
	cursor:pointer;
	font-size:14px;
}
.newLauches:hover{
	border-color: white;
}








.mainBody {
    	width: 100%;
    	overflow-x: hidden;
    	text-align: center;
    	position: absolute;
}

.mainBody img {
    	display: block; 
    	margin: 0 auto; 
}

.mainBody::after {
    	content: ''; 
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	height: 50%; 
    	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); 
    	pointer-events: none; 
}


.mainBodyContents{
	
    position: relative;
	display:flex;
	flex-direction:column;
	
}

.upperBody{
	display:flex;
	flex-direction:column;
	
}
.leftRightArrows{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:100px 30px;
	cursor:pointer;
}
.leftRightArrows span{
	font-size:50px;
}


.upperBodyContents{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:20px;
	gap:20px;
	
}

.pickWhereLeft{
	display:flex;
	
}

.pickWhereLeftContents{
	display:flex;
	flex-direction:column;
	padding:20px;
	justify-content:space-between;
	background-color:#ffffff;
	gap:15px;
	height:420px;
	width:260.25px !important;
	
}

.pickWhereLeftContentsAccessory{
	gap:0px;
	justify-content:flex-start;
}
.pickWhereLeftContentsAccessory p{
	margin-bottom:23px;
}

.pickWhereLeftContents p{
	display:flex;
	font-size:21px;
	flex-wrap:wrap;
}






.pickWhereLeft a{
	text-decoration:none;	
	color:#007185;
	font-size:13px;
}
.pickWhereLeft a:hover{
	text-decoration:underline;
	color: #c45500;
}
.pickUps{
	display:flex;
	flex-direction:column;
}

.pickUpsImgs{
	display:flex;
	align-items:center;
	padding:5px;
}

.pickUpsImgsDetails{
	display:flex;
	flex-direction:column;
	gap:5px;
}

.pickUpsImgsDetails img{
	width:133.13px;
	height:131.95px
}

.pickUpsImgsDetails p{
	font-size:13px;
	color:#0f1111;
}

.topAccessoryDetails{
	gap:10px;
}
.topAccessoryDetailsPickUp{
	padding:20px 0px;
}
.topAccessory p{
	font-size:12px;
	color:#0f1111;
}
.topAccessory img{
	width:120px;
	height:95px;
}




.cashBackPhone{
	display:flex;
	flex-direction:column;
	gap:20px;
	width:312px;
}


.cashBack{
	display:flex;
	align-items:flex-start;
	padding:20px;
	padding-bottom:40px;
	background-color:#ffffff;
}

.cashBackImg{
	display:flex;
	flex-direction:column;
}


.cashBackImg p{
	display:flex;
	font-size:21px;
	flex-wrap:wrap;
}
.cashBackImg b{
	
	width:150px;
}

.cashBackImg a{
	text-decoration:none;	
	color:#007185;
	font-size:13px;
	margin-top:20px;
}
.cashBackImg a:hover{
	text-decoration:underline;
	color: #c45500;
}


.mobilePhone{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
	gap:15px;
	background-color:#ffffff;
	height:255px;
	cursor:pointer;
}

.mobileDetails{
	
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	flex-wrap:wrap;
}

.mobileDetails p{
	flex-wrap:wrap;
	font-size:13px;
	color:#0f1111;
	margin-bottom:10px;
}


.primes{
	display:flex;
	align-items:center;
	margin-bottom:10px;
	color:#b12504;
}
.primes p{
	margin-bottom:0;
	color:#b12504;	
}


.saveMoney{
	display:flex;
	align-items:center;
	gap:10px;
}
.saveMoney p{
	margin-bottom:0px;
	font-size:11px;
}
.save2000{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#cc0c39;
	padding:5px 10px;
}
.save2000 p{
	margin-bottom:0px;
	color:#ffffff;
	font-size:11px;
}








.tiger3{
	height:440px;
	width:680px;

}

.reccomendationPrime{
	height:400px;
	margin:40px;

}



.todaysDeal{
	display:flex;
	flex-direction:column;
	padding:20px;
	margin:20px;
	background-color:#ffffff;
	height:310px;
	
}
.seeAllDeal{
	display:flex;
	align-items:flex-end;
	gap:10px;
	margin-bottom:20px;
}

.seeAllDeal h2{
	font-size:21px;
	color:#0f1111;
}


.seeAllDeal a{
	text-decoration:none;	
	color:#007185;
	font-size:14px;
}
.seeAllDeal a:hover{
	text-decoration:underline;
	color: #c45500;
}


.todayDealsMobileDetails{
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap:5px;
	cursor:pointer;
}
.todayDealsMobile{
	display:flex;
	flex-direction:column;
	cursor:pointer;
	
}

.dealsMobile{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(15, 17, 17, .03);
	border-radius:5px;
	padding:10px 55px;
	cursor:pointer;
}
.dealsMobile img{
	width:133.39px !important;
	height:183.98px !important;
}
.percOff{
	display:flex;
	align-items:center;
	gap:10px;
	margin:10px 0px;
	cursor:pointer;
}
.phName{
	color:#0f1111;
	font-size:13px;
	cursor:pointer;
}
.percOff b{
	color:#cc0c39;
	font-size:12px;
	cursor:pointer;
}

.perc{
	background-color:#cc0c39;
	padding:5px 7px;
	border-radius:3px;
	font-size:12px;
	color:#ffffff;
	cursor:pointer;
}

.arrowsTwo{
	display:flex;
	align-item-center;
	position:relative;
	justify-content:space-between;
	bottom:210px;
	cursor:pointer;
}


.arrowDivLeft {
  padding: 35px 10px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 0px 0px 0px #d9d5d5, 0px 2px 0px 0px #d9d5d5, 0px -2px 0px 0px #d9d5d5;
}

.arrowDivRight {
  padding: 35px 10px;
  border-top: none;
  border-bottom: none;
  border-left: none; 
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px;
  background-color: #ffffff;
  box-shadow: -2px 0px 0px 0px #d9d5d5, 0px 2px 0px 0px #d9d5d5, 0px -2px 0px 0px #d9d5d5; 
}




.todaysDealShirt{
	display:flex;
	flex-direction:column;
	padding:20px;
	margin:20px;
	background-color:#ffffff;
	height:250px;
	
}

























.bottomBody{
	background-color:#ffffff;
	width:100%;
	border-radius:5px;
}

.firstPart{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:10px 20px;
}

.cusWho{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:30px;
	margin-top:10px;
}
.cusWho h2{
	font-size:21px;
	color:#0f1111;
}
.pageNum{
	display:flex;
	align-items:center;
	gap:10px;
	font-size:14px;
	color:#0f1111;
}
.pageNum span{
	font-size:24px;
	cursor:pointer;
}
.pageNum span:hover{
	color: #c45500;
}
.diffKind{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	border-bottom:1px solid #D5D9D9;
}

.leftArrow{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:5px;
	border:1px solid #D5D9D9;
	border-radius:8px;
	font-size:18px;
	cursor:pointer;
}
.leftArrow:hover{
	background-color: rgba(173, 216, 230, 0.1);
}

.kindShirtDetails{
	display:flex;
	flex-direction:column;
	gap:5px;
	justify-content:center;
	cursor:pointer;
}
.kindShirtDetails img{
	width:160px;
	height:160px;
}
.shirtDetails{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;	
	gap:3px;
}
.shirtDetails a{
	color:#007185;
	text-decoration:none;
	font-size:12px;
}

.shirtDetails a:hover{
	
	text-decoration: underline;
    	color: #c45500;
}

.shirtStars a{
	margin-left:3px;
	color:#007185;
	fill:#007185;
	text-decoration:none;
}
.shirtStars a:hover{
	
    	color: #c45500;
	text-decoration:none;
}

.shirtDetails p{
	font-size:17px;
	color:#0f1111;
}
.rupees{
	font-size:11px;
	color:#0f1111;
}


.shirtDetails button{
	padding:5px 10px;
	font-size:11px;
	border:1px solid #D5D9D9;
	border-radius:15px;
	margin-top:5px;
	cursor:pointer;
	margin-bottom:10px;
}

.shirtDetails button:hover{
	background-color: rgba(173, 216, 230, 0.1);
}
.shirtStars{
	display:flex;
	align-items:center;
}

.shirtStars img{
	
	width:17px;
	height:17px;
}


.secondPart{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:10px 20px;
}

.histView{
	display:flex;
	align-items:center;
	gap:10px;
}


.secondPart img{
	width:100px;
	height:100px;
	margin:30px 60px;
	cursor:pointer;
}

.histView a{
	color:#007185;
	text-decoration:none;
	font-size:14px;
}

.histView a:hover{
	
	text-decoration: underline;
    	color: #c45500;
}



.backToTop{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	padding:15px 0px;
	background-color:#37475a;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
}

.backToTop:hover{
	 background-color:#495d74;
}



.footer{
	width:100%;
	display:flex;
	align-items:flex-start;
	justify-content:space-start;
	padding:50px 0px;
	gap:120px;
	color:#cccccc;
	background-color:#232f3e;
	border-bottom:1px solid #D5D9D9;
}

.headingFooter{
	font-size:16px;
	color:#ffffff;
	margin-bottom:15px;
}
.footerContentsLeft{
	margin-left:200px;
}
.aboutFooter{
	color:#dddddd;
	margin-bottom:10px;
	font-size:14px;
	cursor:pointer;
}
.aboutFooter:hover{
	text-decoration:underline;
}
.bottomFooter{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#232f3e;
	padding:40px;
	gap:20px;
}
.bottomUpFooter img{
	cursor:pointer;
	margin-top:10px;
}
.bottomUpFooter{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:80px;
	padding:20px;
	width:100%;
}
.langSelect{
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap:5px;	
	background:transperant;
	border:1px solid #D5D9D9;
	border-radius:5px;
	padding:10px;
	cursor:pointer;
}
.langSelect p{
	font-size:13px;
	margin-bottom:0px;
}
.langSelect span{
	font-size:15px;
	color:#cccccc;
}



.arrows{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.arrows span{
	font-size:15px;
	line-height:5px;
	color:#cccccc;
}
.rotateUp {
    transform: rotate(180deg);
}

.bottomDownFooter{
	display:flex;
	flex-direction:column;
	font-size:12px;
	color:#dddddd;
	align-items:center;
	justify-content:center;
	gap:10px;
}
.bottomDownFooter p:hover{
	text-decoration:underline;
}
.bottomDownFooterContents{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;
}

.bottomDownFooterContents p{
	cursor:pointer;
}
















