*{
	margin:0px;
	padding:0px;
	font-family: "Amazon Ember", Arial, sans-serif;
	font-size:14px;
	color:#0f1111;
}

.mainBody{
	display:flex;
	flex-direction:column;
	padding:15px;
}

.navbar{
	display:flex;
	align-items:center;
	justify-content:flex-start;
	padding:10px;
	border-bottom:1px solid #D5D9D9;
	
}
.navbar:nth-child(1){
	padding-left:106px;
}
.navbar h1{
	font-size:28px;
	color:#0f1111;
	margin-left:29.5%;
	margin-right:33%;
}
.lockIcon{
	width:26px;
	height:26px;
	cursor:pointer;
}
.contentBody{
	display:flex;
	margin:0px 81.5px;
	padding:15px;
}


.contentLeft{
	display:flex;
	flex-direction:column;
}





.selectedAddress{
	border-bottom:1px solid #D5D9D9;
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
}


.selectedAddress h3{
	color:#0f1111;
	font-size:18px;
}

.selectedAddress{
	padding-bottom:15px;
	border-bottom:1px solid #D5D9D9;
}

.selectedAddress a{
	text-decoration:none;
	color:#007185;
}
.selectedAddress a:hover{
	text-decoration: underline;
    	color: #c45500;
}

.selectAddressDetails{
	display:flex;
	flex-direction:column;
	gap:5px;
}
.selectAddressDetails p{
	color:#333333;
	font-size:14px;
}
.selectAddressDetails a{

}


.selectAddressDetails a{
	text-decoration:none;
	color:#007185;
}
.selectAddressDetails a:hover{
	text-decoration: underline;
    	color: #c45500;
}







.selectPaymentMethod{
	border-bottom:1px solid #D5D9D9;
	padding:15px 0px;
	display:flex;
	flex-direction:column;
}

.selectPaymentMethod h3{
	color:#c45500;
	font-size:18px;
	margin-bottom:10px;
}
.yourPayment{
	display:flex;
	flex-direction:column;
	border-top:1px solid #d5d9d9;
	border-left:1px solid #d5d9d9;
	border-right:1px solid #d5d9d9;
    	border-top-left-radius: 8px;
    	border-top-right-radius: 8px;
	gap:5px;
	padding:18px;
	margin-left:40px;
}

.yourPaymentContents{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:10px 0px;
	border-bottom:1px solid #d5d9d9;
}

.yourPaymentContents b{
	font-size:18px;
	color:#0f1111;
}
.yourPaymentContents a{
	text-decoration:none;
	color:#007185;
	font-weight:700;
}
.yourPaymentContents a:hover{
	text-decoration: underline;
    	color: #c45500;
}

.selectPayment{
	
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:flex-start;
	margin:10px 0px;;
	gap:5px;
	border-radius:5px;
	
}

.selectAddress a{
	text-decoration:none;
	color:#007185;
}
.selectAddress a:hover{
	text-decoration: underline;
    	color: #c45500;
}
.typePayment{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:flex-start;
	gap:10px;
}
.typePayment span{
	font-size:20px;
	color:#d5d9d9;
}
.typePayment input{
	padding:5px;
	outline:none;
	font-size:13px;
	border:1px solid #d5d9d9;
	border-radius:5px;
}
.enterCodeButton{
	background: transparent;
	font-size:13px;
	padding:5px;
	border:1px solid #d5d9d9;
	border-radius:5px;
}






.typePayment{
	display:flex;
	margin-top:10px;
	align-items:flex-start;
	justify-content:flex-start;
	gap:5px;
	margin-left:5px;
}



.radioDetails{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flext-start;
	gap:5px;
	margin-bottom:20px;
	margin-top:3px;
}

.radioDetails p{
	margin-left:5px;
}


.chooseOption{
	display:flex;
	align-items: center;
	justify-content:center;
	background: transparent;
	font-size:13px;
	padding:2px 10px;
	border:1px solid #d5d9d9;
	border-radius:5px;
}

.radioNetBank{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flext-start;
	gap:5px;
	margin-bottom:20px;
	margin-left:5px;
	margin-top:3px;

}

.cashOnDelivery{
	display:flex;
	margin-top:10px;
	align-items:flex-start;
	justify-content:flex-start;
	gap:5px;
	background-color: #FCF5EE;
   	border: 1px solid #FBD8B4;
	padding:5px;
	border-radius:8px;
}


.cashOnDelivery p{
	margin-left:5px;
	margin-top:5px;
}

.cashOnDelivery span{
	font-size:20px;
	color:#d5d9d9;
}

.cashOnDelivery a{
	text-decoration:none;
	color:#007185;
}
.cashOnDelivery a:hover{
	text-decoration: underline;
    	color: #c45500;
}





.useThis{
	display:flex;
	align-items:center;
	padding:10px 25px;
	background-color:#f0f2f2;
	margin-left:40px;
	border:1px solid #d5d9d9;
    	border-bottom-left-radius: 8px;
    	border-bottom-right-radius: 8px;
	font-size:12px;
}

.useThisAddress{
	display:flex;
	align-items:center;
	padding:5px 10px;	
	background-color:#ffd814;
	border-radius:8px;
	cursor:pointer;
	
}


.useThisAddress b{
	font-size:12px;
	font-weight:700;
}

.useThisAddress:hover{
	filter:brightness(90%);
}




.twoThird{
	border-bottom:1px solid #D5D9D9;
	padding-bottom:20px;
	display:flex;
	flex-direction:column;
	margin:15px 0px;
}

.twoThird h3{
	color:#0f1111;
	font-size:18px;
}

.itemsDeliveryOn{
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	border-bottom:2px solid #D5D9D9;	
}
.itemsDeliveryOn h3{
	font-size:18px;
}



.deliveryDateItem{
	display;flex;
	flex-direction:column;	
	margin-bottom:10px;
}

.deliveryDateItem b{
	color:#007600;
}

.deliveringProduct{
	display:flex;
	align-items:flex-start;
	margin:10px 0px;;
	
}

.deliveringProduct p{
	margin-top:5px;
	font-weight:100;
}

.deliveringProduct img{
	width:65px;
	height:65px;
}

.reviewTheOrder{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:3px 20px;
	border:1px solid #D5D9D9;
	border-radius:6px;
	font-size:10px;
	cursor:pointer;
}
.reviewTheOrder:hover{
	background-color: rgba(173, 216, 230, 0.1);
}





.contentLeftLast{
	display:flex;
	flex-direction:column;
	gap:15px;
	margin-top:30px;
}

.contentLeftLast p{
	font-size:12px;
	color:#565959;
	font-weight:100;
}
.contentLeftLast  a{
	text-decoration:none;
	color:#007185;
	font-size:12px;
}

.contentLeftLast  a:hover{
	text-decoration: underline;
    	color: #c45500;
}












.contentRightContainer{
	border:1px solid #d5d9d9;
	border-radius:8px;
	margin-left:20px;
}
.contentRight{
	display:flex;
	flex-direction:column;

	width:250px;
	border-radius:8px;
	padding-top:15px;
	padding-bottom:10px;	
}

.buttonAndText{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size:12px;
	color:#0f1111;
	margin:0px 15px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #d5d9d9;
}
.proceedToBuy{
	
	width:100%;
	padding:8px 35px;
	font-size:13px;
	background-color:#ffd814;
	border:none;
	border-radius:8px;
	margin-top:5px;
	cursor:pointer;
	margin-bottom:10px;
}

.buttonAndText button:hover{
	filter:brightness(90%);
}


.textAfterButton{
	display:flex;
	flex-direction:column;
	align-items:center;	
	justify-content:center;
	margin:0px 15px;
	margin-top:5px;
	width:100%;
}


.textAfterButton p{
	font-size:11px;
	color:#0f1111;
	font-weight:100;
}


.orderSummery{
	
	display:flex;
	flex-direction:column;
	gap:15px;
	margin:0px 15px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid#d5d9d9;
}

.orderSummery h3{
	color:#0f1111;
	font-size:18px;
}
.itemsDelivery{
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}

.item{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.item p{
	
	font-size:12px;
	color:#0f1111;
	font-weight:100;
}

.orderSummeryRed{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:10px;
	margin:0px 15px;
	border-bottom:1px solid#d5d9d9;

}

.orderSummeryRed h3{
	color:#b12704;
	font-size:18px;
	margin-bottom:15px;
}

.orderSummeryFinal{
	display:flex;
	flex-direction:column;
	margin:0px 15px;
	margin-top:10px ;
}

.orderSummeryFinal b{
	color:#b12704;
	margin-bottom:10px;
}

.orderSummeryRedTotal{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:10px;
	margin:0px 15px;
	border-bottom:1px solid#d5d9d9;

}
.orderSummeryRedTotal h3{
	color:#b12704;
	font-size:18px;
	margin-bottom:15px;
}


.contentRightBottom{
	display:flex;
	width:250px;
	align-items:center;
	background-color:#f0f2f2;
	padding:20px 0px;
}




.contentRightBottom a{
	text-decoration:none;
	color:#007185;
	font-size:12px;
	padding-left:15px;
	font-weight:100;
}
.contentRightBottom a:hover{
	text-decoration: underline;
    	color: #c45500;
}


.orderSummeryFinal li{
	font-size:12px;
	color:#0f1111;
	font-weight:100;
}
.orderSummeryFinal p{
	margin-bottom:10px;
}

.orderSummeryFinal a{
	margin-top:10px;
	text-decoration:none;
	color:#007185;
	font-weight:100;
}

.orderSummeryFinal  a:hover{
	text-decoration: underline;
    	color: #c45500;
}














